{:deps
 {
  org.clojure/clojure {:mvn/version "1.11.1"}
  clojure.java-time/clojure.java-time {:mvn/version "1.1.0"}
  org.clojure/math.combinatorics {:mvn/version "0.1.6"}
  lacij/lacij {:mvn/version "0.10.0"}
  aysylu/loom {:mvn/version "1.0.2"}
  ;; org.clojure/core.memoize {:mvn/version "1.0.250"}
  org.clojure/data.priority-map {:mvn/version "0.0.7"}
  org.clojure/core.memoize {:mvn/version "1.0.257"}
  seesaw {:mvn/version "1.5.0"}
  thi.ng/geom {:mvn/version "1.0.0"}
  }}
